NEXTAUTH_URL=http://localhost:3000
# Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
NEXTAUTH_SECRET=

GOOGLE_ID=
GOOGLE_SECRET=

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=

VK_CLIENT_ID=
VK_CLIENT_SECRET= 