:root,
body,
#__next {
    height: 100%;
}

#__next {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

body {
    background-color: rgb(255, 183, 87);
    margin: 0px;
    font-family: sans-serif;
}

header {
    background: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
}

header nav {
    flex-grow: 1;
}

.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
    list-style-type: none;
}

.navbar .active {
    background-color: red;
}

.link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}

.login-account-info,
.login-username {
    margin: 15px;
}

.login-account-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}

.login-button:active {
    background-color: #307b34;
}

main {
    margin-top: 70px;
}


.home-page {
    background-image: url("/img/HomePage/background.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: flex-start;
}

.home-page-title {
    color: white;
    /* font-size: xxx-large; */
    font-size: 70px;
    font-weight: bold;
    font-family: monospace;
    margin-left: 150px;
    margin-bottom: 150px;
}

.cards {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.one-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.card-img {
    height: 300px;
    width: 500px;
}

footer {
    /* background-color: #f2f2f2; */
    background-color: rgb(21, 244, 21);
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 14px;
    /* color: #888; */
    color: #010101;
}

@media (max-width: 850px) {
    header {
        display: block;
    }

    .home-page-title {
        margin-left: 80px;
        font-size: 60px;
    }
}

@media (max-width: 500px) {
    .navbar {
        display: block;
    }

    .home-page-title {
        margin-left: 80px;
        font-size: 40px;
        margin-left: 15px;
        margin-bottom: -50px;
    }
}