body {
    background-color: rgb(150, 233, 150);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    flex-grow: 1;
}

.navbar {
    list-style-type: none;
    display: flex;
    /* background: orange; */
    padding: 15px;
}

header {
    background: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.account-info {
    position: absolute;
    right: 120px;
}

.login-button {
    position: absolute;
    right: 30px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #45a049;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 10px;
}

.main {
    background-image: url("/img/HomePage/background.jpg");
    background-size: cover;
    height: 80vh;
}

.cards {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.one-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.card-img {
    height: 300px;
    width: 500px;
}