:root,
body,
#__next {
    height: 100%;
}

#__next {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

main {
    flex-grow: 1;
    margin-top: 70px;
}

header {
    background: rgb(141, 99, 75);
    position: fixed;
    top: 0px;
    width: 100%;
}

header nav {
    flex-grow: 1;
}

.navbar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    list-style-type: none;
}

.navbar li {
    padding: 5px;
}

.navbar .active {
    background-color: rgb(40, 28, 21);
}

.link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}

.login-account-info,
.login-username {
    margin: 15px;
}

.login-account-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.login-button {
    background-color: rgb(40, 28, 21);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: rgb(26, 18, 14);
}

.login-button:active {
    background-color: black;
    border: solid black;
}

.home-page {
    background-image: url("/img/HomePage/background.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.home-page-title {
    color: white;
    font-size: 70px;
    font-weight: bold;
    font-family: monospace;
    margin-left: 150px;
    margin-bottom: 150px;
}

/* .tours-page,
.about-page,
.places-page,
.blog-page,
.forum-page,
.store-page,
.contacts-page,
.account-page,
.admin-page,
.error-page, */
.page {
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 20px;
    margin-bottom: 30px;
}

/* .places-page {
    background-color: rgb(255, 183, 87);
} */

.forum-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.topics,
.additional-information {
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
}

.cards {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.one-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.card-img {
    height: 300px;
    width: 500px;
}

footer {
    background: rgb(40, 28, 21);
    padding: 20px;
    text-align: center;
}

footer p {
    font-size: 14px;
    color: white;
}

.user-accout {
    margin-top: 70px;
}

/* @media (max-width: 850px) */
@media (max-width: 1240px) {
    /* header {
        display: block;
    } */

    /* .tours-page,
    .about-page,
    .places-page,
    .blog-page,
    .forum-page,
    .store-page,
    .contacts-page,
    .account-page,
    .admin-page,
    .error-page, */
    .page {
        margin-top: 130px;
    }

    .home-page-title {
        margin-left: 80px;
        font-size: 60px;
    }
}

@media (max-width: 500px) {
    .navbar {
        display: block;
    }

    .home-page-title {
        margin-left: 80px;
        font-size: 40px;
        margin-left: 15px;
        margin-bottom: -50px;
    }
}